# mac files
.DS_Store

# temp vim files
*.swp

# latex files
*.aux
*.log
*.out
*.toc

# GAMS
*.lst

# QT Creator
*.user
*.o
*.pro
**/build-GUI-Desktop_Qt_5_7_1_clang_64bit-Debug/*
**/build-GUI-Desktop-Debug/*
**/cmake-build-debug/*
**/.idea/*

# rfid Project
**/GUI/GUI_automoc.*
**/GUI/JobFileTest_automoc.*
**/GUI/CMakeFiles/*
**/GUI/CalculatorTest_automoc.*
**/GUI/EventHandlerTest_automoc.*
**/GUI/LogfileTest_automoc.*
**/GUI/src/CardInformation.hpp
**/GUI/CMakeCache.txt
**/GUI/moc_JobFile.cpp
**/GUI/moc_LogFile.cpp
**/GUI/testBin/CalculatorTest
**/GUI/testBin/EventHandlerTest
**/GUI/testBin/JobFileTest
**/GUI/testBin/LogfileTest
**/GUI/*.cbp
**/GUI/Makefile
**/GUI/cmake_install.cmake
**/GUI/GUI
Projects/rfid_reader_writer/GUI/CMakeLists.txt
